

body {

    /* display: flex;*/
    margin: auto;
    width: 75%;
    background-color: #b597f2;
    text-align: center;

    /* font-family: ; */

}


#canvas {

    border: 1em solid #e7c1ff;
    height: 500 px;
    width: 900px;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: black;
    /* display: flex; */

}

#container {
    /* display: flex;
    margin: auto; */
}

.jam {
    display: inline;
    color: #FFFFFF;
    font-size: 1.15em;
 }

 button {

    cursor: pointer;
 }

/***************************/
.inputThingies {
    display: flex;
    margin: auto;
    width: 50%;
 }

.startButton {
    border-width: 1em;
    border-color: #000000;
    margin: 1em;
}

.colorButton {
    border-width: 1em;
    border-color: #000000;
    margin: 1em;

}

.volumeButton {
    border-width: 1em;
    border-color: #000000;
    margin: 1em;
}

/***************************/

.rainbowButtons {
    color: black;
    
}